<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Merge Puzzle</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                        /img/home/logo-desk.png 1x,
                        /img/home/logo-desk@2x.png 2x
                                     " media="(min-width: 1440px)" />
                <source srcset="
                        /img/home/logo-mob.png 1x,
                        /img/home/logo-mob@2x.png 2x
                                    " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/home/logo-mob.png" alt="Merge Puzzle" loading="lazy" />
            </picture>
            <p class="home-text">Think you're good at puzzles?<br/>
            Let's see how far you can push it!</p>
            <p class="home-text-two">This is one of those games that seems simple but gets crazy addictive -<br/>
            you're basically just:<br/>
            Merge identical tiles to create bigger numbers.</p>
            <a class="home-link" href="#think">
                <img src="/img/home/btn.png" alt="Google play" loading="lazy">
            </a>
        </div>
    </div>
</section>