.footer {
background: #093359;
  color: #aed7fd;
}
.footer-container{
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-logo-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-wrapper{
  display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text{
  font-size: 11px;
  text-align: right;
}
@media only screen and (min-width: 1440px) {
 .footer-container{
  padding: 40px 160px 16px;
  gap: 16px;
 }
 .footer-wrapper{
  flex-direction: row;
  justify-content: space-between;
 }
 .footer-logo-wrapper {
  gap: 16px;
 }
 .footer-navigation{
 align-items: end;
 }
 .footer-text{
  font-size: 12px;
 }
}